node_modules
dist
.env
*.log
*.env.*
*.local
.DS_Store
*.pem
*.key
*.crt
*.pfx
*.cert
*.sqlite
*.db
*.bak
*.zip
*.tar
*.7z
*.exe
*.pyc
*.cache
*.out
*.pid
*.tgz
*.sublime-workspace
*.sublime-project
coverage
npm-debug.log
debug.log
logs/
tmp/
/.idea
/.vscode